
    .bg5
    {
    background-color:white;
    background-size:cover;
    height:1500px;
    background-attachment:fixed;
    opacity:100px;
    padding-top:10%;
    }
   .logo5
   {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 650px;
    top: -20px;
   }
   .product5
   {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 580px;
    top: 110px;
   }
   .pricetag5
   {
    margin-left: 600px;
    margin-top: 280px;
    font-family:'Times New Roman', Times, serif;
    color:green;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
   }
   .info5
   {
    font-family: Arial;
    text-align: left;
    color:black;
    font-size:17px;
    font-weight: bold;
    margin-top:-350px;
   }
   .name5
   {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color:purple;
    margin-left:50px;
    margin-top:-550px;
   }
   .click5
   {
    margin-left:700px;
    margin-top:10px;
    color:black;
    font-size: x-large;
    font-weight:bold;
  
   }
   .video5
   {
    margin-top:550px;
    border-color: black;
    width:50%;
    margin-left:350px;
   }
   
   .bt4
   {
    background-color:lightgrey;
    background-size: cover;
    background-attachment: fixed;
    opacity:100px;


   }