.bg6{
  background-color:black;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
     }
   .logo6
   {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 634px;
    top: 1px;
   }
   .product6
   {
    position: absolute;
    width: 500px;
    height: 350px;
    left: 450px;
    top: 140px;
   }
   .pricetag6
   {
    margin-left: 600px;
    margin-top: 280px;
    font-family:'Times New Roman', Times, serif;
    color:green;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
   }
   .info6
   {
    font-family: Arial;
    text-align: left;
    color:black;
    font-size:17px;
    font-weight: bold;
    margin-top:-450px;
  
   }
   .name6
   {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color:purple;
    margin-left:50px;
    margin-top:-550px;
   }
   .click6
   {
    margin-left:700px;
    margin-top:10px;
    color:black;
    font-size: x-large;
    font-weight:bold;
   }
   .video6
   {
    margin-top:520px;

    width:50%;
    margin-left:350px;
   }
   .bt4
   {
    background-color:lightgrey;
    background-size: cover;
    background-attachment: fixed;
    opacity:100px;
   }
   .dbx1
   {
    background-color:white;
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size:cover;
   }
   .logod2
   {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 634px;
    top: 1310px;
   }
   .productd2
   {
    position: absolute;
    width: 600px;
    height: 300px;
    left: 450px;
    top: 1470px;
   }
   .pricetagd2
   {
    margin-left: 600px;
    margin-top: 280px;
    font-family:'Times New Roman', Times, serif;
    color:green;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
   }
   .infod2
   {
    font-family: Arial;
    text-align: left;
    color:black;
    font-size:17px;
    font-weight: bold;
    margin-top:-380px;
  
   }
   .named2
   {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color:purple;
    margin-left:50px;
    margin-top:-550px;
   }
   .clickd2
   {
    margin-left:700px;
    margin-top:10px;
    color:black;
    font-size: x-large;
    font-weight:bold;
   }
   .videod2   {
    margin-top:530px;

    width:50%;
    margin-left:350px;
   }
   .btd2
   {
    background-color:lightgrey;
    background-size: cover;
    background-attachment: fixed;
    opacity:100px;
   }
   .dbx3
   {
    margin-top:10px;
    background-color:white;
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size:cover;
   }


   .logod3
   {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 634px;
    top:2700px;
   }
   .productd3
   {
    position: absolute;
    width: 500px;
    height: 350px;
    left: 450px;
    top: 2900px;
   }
   .pricetagd3
   {
    margin-left: 600px;
    margin-top: 280px;
    font-family:'Times New Roman', Times, serif;
    color:green;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
   }
   .infod3
   {
    font-family: Arial;
    text-align: left;
    color:black;
    font-size:17px;
    font-weight: bold;
    margin-top:-300px;
  
   }
   .named3
   {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color:purple;
    margin-left:50px;
    margin-top:-550px;
   }
   .clickd3
   {
    margin-left:700px;
    margin-top:10px;
    color:black;
    font-size: x-large;
    font-weight:bold;
   }
   .videod3
   {
    margin-top:580px;

    width:50%;
    margin-left:350px;
   }
   .btd3
   {
    background-color:lightgrey;
    background-size: cover;
    background-attachment: fixed;
    opacity:100px;
   }
   .dbx2
   {
    margin-top:10px;
    background-color:white;
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size:cover;
   }
   
    
   
   